#cropPreviewRect {
    position:absolute;
    top:0px;
    left:0px;
    border:2px solid red;
    background:rgba(255, 0, 0, 0.3);
    z-index: 900;
    pointer-events:none;
    display:none
}

#crop_parameters {
    display: none;
}

#frame_number * {
    border: none;
    background: none;
    padding: 0px;
}

#frame_number input {
    float: right
}

[id^=refresh_], #open_crops_folder_button {    
    max-width: 2.5em;
    min-width: 2.5em;
    height: 2.4em;
}